{% extends "header.html" %}

{% block header %}
    <div class="row mt-3">
        <div class="col-md-5">
            <div>
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="display-6"> Username: {{ user.username }}</h1>
                    </div>
                    <div class="col-md-10">
                        <h3 class="display-6"> Email address: {{ user.email }}</h1>
                    </div>
                    <a class="col-md-4 nodec" href="{% url 'accounts:password_change' %}">
                        <button type="button" class="btn btn-info btn-block">Change Password</button>
                    </a>
                    <a class="col-md-4 nodec" href="{% url 'accounts:edit_profile' %}">
                        <button type="button" class="btn btn-info btn-block">Edit Profile</button>
                    </a>
                </div>
                <!-- TO DO: add in authentication -->
                <!-- {% if this_user %}
                    <h1></h1>
                    <div class="row">
                        <a class="col-md-4 nodec" href="/feed">
                            <button type="button" class="btn btn-info btn-block">Feed</button>
                        </a>
                        <a class="col-md-4 nodec" href="/accounts/profile/edit/">
                            <button type="button" class="btn btn-primary btn-block">Edit Profile</button>
                        </a>
                        <a class="col-md-4 nodec" href="/logout">
                            <button type="button" class="btn btn-danger btn-block">Logout</button>
                        </a>
                    </div>
                {% endif %} -->
            </div>
        </div>
    </div>

{% endblock %}