{% extends "header.html" %}

{% block header %}
{% for code in codes %}
<form commMkt="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="listing" style="width: 18rem;">
        <div class="listing-body">
        <h5 class="listing-title">{{ code.code }}</h5>
        </div>
        <div class="listing-body">
            <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
            <input type="hidden" name="id" value={{ code.code }}>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}