{% extends 'listings/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 text-center">
            <h1>Community Swapts</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <form method="GET" action="{% url 'listings:cmnty_listings_search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Our Community Swapts" aria-label="Search" value="{{ request.GET.q }}">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input location filter" type="checkbox" id="ElonNC">
                    <label class="form-check-label" for="ElonNC">
                        ElonNC
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input location filter" type="checkbox" id="CollegeParkMD">
                    <label class="form-check-label" for="CollegeParkMD">
                        CollegeParkMD
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input location filter" type="checkbox" id="BurlingtonNC">
                    <label class="form-check-label" for="BurlingtonNC">
                        BurlingtonNC
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input location filter" type="checkbox" id="ColumbiaMD">
                    <label class="form-check-label" for="ColumbiaMD">
                        ColumbiaMD
                    </label>
                </div>
                
                <br></br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input campus filter" type="checkbox" id="Elon">
                    <label class="form-check-label" for="Elon">
                        Elon
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input campus filter" type="checkbox" id="UMD">
                    <label class="form-check-label" for="UMD">
                        UMD
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input campus filter" type="checkbox" id="UNCG">
                    <label class="form-check-label" for="UNCG">
                        UNCG
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input propertyname filter" type="checkbox" id="Oaks">
                    <label class="form-check-label" for="Oaks">
                        Oaks
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input propertyname filter" type="checkbox" id="MillPoint">
                    <label class="form-check-label" for="MillPoint">
                        MillPoint
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input propertyname filter" type="checkbox" id="OakHill">
                    <label class="form-check-label" for="OakHill">
                        OakHill
                    </label>
                </div>
                
                
                <form class="form-inline">
                    <input type="number" class="itemsSold filter" id="low-itemsSold" value="0" min="0" max="100" step="0.1">
                    <label class="form-label" for="low-itemsSold">
                        Lower bound itemsSold %
                    </label>
                    <input type="number" class="itemsSold filter" id="high-itemsSold" value="100" min="0" max="100" step="0.1">
                    <label class="form-label" for="high-itemsSold">
                        Upper bound itemsSold %
                    </label>
                    <input class="form-check-input itemsSold-na filter" type="checkbox" id="na">
                    <label class="form-check-label" for="na">
                        Include N/A
                    </label>
                    
                </form>
                <button class="btn btn-success apply-filter">Filter</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for item in swapt_items %}
        <div class="col-md-4 col-sm-12 text-center mb-5">
            <img class="rounded" src="{{ item.thumbnail.url }}" width="350" height="300">
            <h5 class="mt-3">{{ item.name }}</h5>
            <p>Price: {{ item.itemPrice }}</p>
            <p>{{ item.desc }}</p>
        </div>
        <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{item.thumbnail.url}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.desc}}</p>
              <a
                href="{% url 'listings:cmnty_listing_detail' item.id %}"
                class="btn btn-primary"
                >View Detail</a
              >
            </div>
          </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function () {
    
        var filter = ""
        if (window.location.search.substring(1) != "") {
            filter = "&" + window.location.search.substring(1);
            var params = window.location.search.substring(1).split("&");
            for(let i = 0; i < params.length; i ++) {
                param = params[i];
                
                if(param.startsWith("location") || param.startsWith("propertyname")) {
                    $("#" + param.split("=")[1]).prop("checked", true);
                } else if(param.startsWith("lowItemsSold")) {
                    $("#low-itemsSold").val(parseFloat(param.split("=")[1]))
                } else if(param.startsWith("highItemsSold")) {
                    $("#high-itemsSold").val(parseFloat(param.split("=")[1]))
                } else if(param.startsWith("showNA")) {
                    stringBool = param.split("=")[1] == "true"
                    $("#na").prop("checked", stringBool);
                }
            }
        } else {
            $('input[type=checkbox]').each(function () {
                $(this).prop("checked", true);
            });
        }
    
        var approvedTable = $('#cmnty-approved-table').DataTable({
            "serverSide": true,
            "processing": true,
            "autoWidth": false,
            "stateSave": true,
            "ajax": {
                "url": "/listings/api/review/?format=datatables&stage=2" + filter,
                "credentials": 'include',
            },
            "columns": [
                {"data": "name"},
                {"data": "description"},
                {
                    "searchable": false,
                    "data": "location"
                },
                {
                    "searchable": false,
                    "data": "percent_itemsSold"
                },
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.campus'
                },
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.propertyname'
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.propertyname',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.propertyname',
                },
                {
                    "searchable": false,
                    "data": null,
                    render:function(data, type, row) {
                        return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                    },
                    "targets": -1,
                   
                }
            ],
        });
     
        var column = approvedTable.column(10);
        column.visible({% if user.is_admin %} true {% else %} false {% endif %});
    
        $('#cmnty-approved-table tbody').on('click', 'a', function () {
            var data = approvedTable.row( $(this).parents('tr') ).data();
            window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-cmntycmnty-approved-tab";
        } );
    
        var reportedTable = $('#cmnty-reported-table').DataTable({
            "serverSide": true,
            "processing": true,
            "autoWidth": false,
            "stateSave": true,
            "ajax": {
                "url": "/listings/api/review/?format=datatables&stage=4" + filter,
                "credentials": 'include',
            },
            "columns": [
                {"data": "name"},
                {"data": "description"},
                {
                    "searchable": false,
                    "data": "location"
                },
                {
                    "searchable": false,
                    "data": "percent_itemsSold"
                },
                {"data": "issue"},
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.campus'
                },
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.propertyname'
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.propertyname',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.propertyname',
                },
                {
                    "data": null,
                    render:function(data, type, row) {
                        return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                    },
                    "targets": -1
                }
            ],
        });
    
        $('#cmnty-reported-table tbody').on('click', 'a', function () {
            console.log("Test");
            var data = reportedTable.row( $(this).parents('tr') ).data();
            window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-cmntycmnty-reported-tab";
        } );
    
        var rejectedTable = $('#cmnty-rejected-table').DataTable({
            "serverSide": true,
            "processing": true,
            "autoWidth": false,
            "stateSave": true,
            "ajax": {
                "url": "/listings/api/review/?format=datatables&stage=3" + filter,
                "credentials": 'include',
            },
            "columns": [
                {"data": "name"},
                {"data": "description"},
                {
                    "searchable": false,
                    "data": "location"
                },
                {
                    "searchable": false,
                    "data": "percent_itemsSold"
                },
                {"data": "issue"},
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.campus'
                },
                {
                    "searchable": false,
                    "data": 'campuspropertynamepair_set.0.propertyname'
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.1.propertyname',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.campus',
                },
                {
                    "searchable": false,
                    "defaultContent": "",
                    "data": 'campuspropertynamepair_set.2.propertyname',
                },
                {
                    "data": null,
                    render:function(data, type, row) {
                        return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                    },
                    "targets": -1
                }
            ],
        });
    
        $('#cmnty-rejected-table tbody').on('click', 'a', function () {
            var data = rejectedTable.row( $(this).parents('tr') ).data();
            window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-cmntycmnty-rejected-tab";
        } );
    
        var cmntyTable = $('#cmnty-table').DataTable({
            "serverSide": true,
            "processing": true,
            "autoWidth": false,
            "stateSave": true,
            "ajax": {
                "url": "/listings/api/review/?format=datatables&stage=5",
                "credentials": 'include',
            },
            "columns": [
                {"data": "name"},
                {
                    "data": null,
                    render:function(data, type, row) {
                        return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> {% endif %}';
                    },
                    "targets": -1
                }
            ],
            
        });
    });
    
    
    $('.apply-filter').click(function (e){submit(e)});
    
    function submit(e){
        var locations = [];
        var propertynames = [];
        var campuses = [];
    
        $(".location").each(function () {
            if ($(this).is(":checked")) { locations.push($(this).attr('id').toString()); }
        });
    
        $(".propertyname").each(function () {
            if ($(this).is(":checked")) { propertynames.push($(this).attr('id').toString()); }
        });
        $(".campus").each(function () {
            if ($(this).is(":checked")) { campuses.push($(this).attr('id').toString()); }
        });
    
    
    
        var lowItemsSold= $('#low-itemsSold').val().toString();
        var highItemsSold = $('#high-itemsSold').val().toString();
    
        var showNA = $('#na').is(":checked").toString();
    
        var href = "?location=";
        for(let i = 0; i < locations.length; i++) {
            if(i != 0) {
                href += "&location=" + locations[i];
            } else {
                href += locations[i];
            }
        }
        for(let i = 0; i < propertynames.length; i++) {
            href += "&propertyname=" + propertynames[i];
        }
        href += "&lowItemsSold=" + lowItemsSold
            + "&highItemsSold=" + highItemsSold + "&showNA=" + showNA;
        window.location.href = href + location.hash;
    }
    
    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > button").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("id");
      // localStorage.setItem('selectedTab', id);
      if(history.pushState) {
        history.pushState(null, null, "#" + id);
      } else {
        location.hash = "#" + id;
      }
      //window.location.hash = id;
    });
    
    // on load of the page: switch to the currently selected tab
    var hash = location.hash;
    
    var tabShowEl = document.querySelector(hash);
    var tabShow = new bootstrap.Tab(tabShowEl);
    tabShow.show();
    
    </script>
{% endblock content %}