{% extends 'base.html' %}
{% block header %}
  <h1> Edit </h1>
  <h1>  </h1>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      {% if user.is_swapt_user and field.label == "Stage" %}
      {% else %}
      <p align="left">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">{{ field.label }}</label>
            <div class="col-sm-9"> {{ field }} </div>
        </div>
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endif %}
      {% endfor %}
      {% if form.non_field_errors %}
      <ul style="color: red">
      {{ form.non_field_errors.as_ul }}
      </ul>
      {% endif %}
      <button class="btn btn-success" type="submit">Update</button>
      
  </form>
{% endblock %}