{% extends "header.html" %}
{% block header %}
<ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="true">Awaiting Review</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-approved-tab" data-bs-toggle="tab" data-bs-target="#nav-approved" type="button" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-reported-tab" data-bs-toggle="tab" data-bs-target="#nav-reported" type="button" role="tab" aria-controls="nav-reported" aria-selected="false">Reported</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-rejected" type="button" role="tab" aria-controls="nav-rejected" aria-selected="false">Rejected</button>
    </li>

</ul>
<div class="form-check form-check-inline">
    <input class="form-check-input location filter" type="checkbox" id="ElonNC">
    <label class="form-check-label" for="ElonNC">
        ElonNC
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input location filter" type="checkbox" id="CollegeParkMD">
    <label class="form-check-label" for="CollegeParkMD">
        CollegeParkMD
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input location filter" type="checkbox" id="BurlingtonNC">
    <label class="form-check-label" for="BurlingtonNC">
        BurlingtonNC
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input location filter" type="checkbox" id="ColumbiaMD">
    <label class="form-check-label" for="ColumbiaMD">
        ColumbiaMD
    </label>
</div>

<br></br>

<div class="form-check form-check-inline">
    <input class="form-check-input difficulty filter" type="checkbox" id="Easy">
    <label class="form-check-label" for="Easy">
        Easy
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input difficulty filter" type="checkbox" id="Medium">
    <label class="form-check-label" for="Medium">
        Medium
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input difficulty filter" type="checkbox" id="Hard">
    <label class="form-check-label" for="Hard">
        Hard
    </label>
</div>

<form class="form-inline">
    <input type="number" class="grade filter" id="low-grade" value="1" min="1" max="12">
    <label class="form-label" for="low-grade">
        Lower bound grade
    </label>
    <input type="number" class="grade filter" id="high-grade" value="12" min="1" max="12">
    <label class="form-label" for="high-grade">
        Upper bound grade
    </label>
</form>

<form class="form-inline">
    <input type="number" class="itemsSold filter" id="low-itemsSold" value="0" min="0" max="100" step="0.1">
    <label class="form-label" for="low-itemsSold">
        Lower bound itemsSold %
    </label>
    <input type="number" class="itemsSold filter" id="high-itemsSold" value="100" min="0" max="100" step="0.1">
    <label class="form-label" for="high-itemsSold">
        Upper bound itemsSold %
    </label>
    <input class="form-check-input itemsSold-na filter" type="checkbox" id="na">
    <label class="form-check-label" for="na">
        Include N/A
    </label>
    
</form>
<button class="btn btn-success apply-filter">Filter</button>
<div class="tab-content" id="nav-tabContent">   
    <div class="tab-pane fade show active" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for listing in review %}
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
            
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Awaiting Review</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: {{ listing.name }}</li>
                    <li class="list-group-item">Description: {{ listing.description }}</li>
                    <li class="list-group-item card-location">Location: {{listing.location}}</li>
                    {% if listing.issue != None %}
                    <li class="list-group-item">Reported/rejected issue: {{ listing.issue }}</li>
                    {% endif %}
                    {% if listing.itemsSold != 0 or listing.itemsUnSold != 0%}
                    <li class="list-group-item card-itemsSold">% ItemsSold: {{ listing.percent_itemsSold }}</li>
                    {% else %}
                    <li class="list-group-item card-itemsSold">% ItemsSold: N/A</li>
                    {% endif %}
                    {% for pair in listing.gradedifficultypair_set.all %}
                    <li class="list-group-item card-difficulty">Grade/difficulty pair {{ forloop.counter }}: {{ pair.grade }}/{{ pair.difficulty }}</li>
                    {% endfor %}
                    </ul>
                    <div class="card-body">
                        {% if user.is_admin %}
                            {% if listing.stage != 2 %}
                            <button type="submit" value="2" class="btn btn-success" name="status">Approve</button>
                            {% endif %}
                            {% if listing.stage == 1 %}
                            {% comment %} <button type="submit" value="3" class="btn btn-danger" name="status">Reject</button> {% endcomment %}
                            <a class="btn btn-danger" href="{% url 'listings:swapt_reject' listing.id %}?next={% url 'listings:swapt_review'%}#nav-review-tab" role="button">Reject</a>
                            {% else %}
                            <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                            {% endif %}
                        <a class="btn btn-primary" href="{% url 'listings:swapt_edit' listing.id %}?next={% url 'listings:swapt_review'%}#nav-review-tab" role="button">Edit</a>
                        {% elif listing.stage != 2 and user.is_swapt_user %}
                        <a class="btn btn-primary" href="{% url 'listings:swapt_edit' listing.id %}?next={% url 'listings:swapt_review'%}#nav-review-tab" role="button">Edit</a>
                        <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                        {% endif %}
                        <input type="hidden" name="id" value={{ listing.id }}>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab">
        <table id="approved-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">% ItemsSold</th>
                    <th scope="col">Grade Level 1</th>
                    <th scope="col">Difficulty Level 1</th>
                    <th scope="col">Grade Level 2</th>
                    <th scope="col">Difficulty Level 2</th>
                    <th scope="col">Grade Level 3</th>
                    <th scope="col">Difficulty Level 3</th>
                    <th scope="col">Buttons</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-reported" role="tabpanel" aria-labelledby="nav-reported-tab">
        <table id="reported-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">% ItemsSold</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Grade Level 1</th>
                    <th scope="col">Difficulty Level 1</th>
                    <th scope="col">Grade Level 2</th>
                    <th scope="col">Difficulty Level 2</th>
                    <th scope="col">Grade Level 3</th>
                    <th scope="col">Difficulty Level 3</th>
                    <th scope="col">Buttons</th>
                </tr>
            </thead>
        </table>
    </div> 
    <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab">
        <table id="rejected-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">% ItemsSold</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Grade Level 1</th>
                    <th scope="col">Difficulty Level 1</th>
                    <th scope="col">Grade Level 2</th>
                    <th scope="col">Difficulty Level 2</th>
                    <th scope="col">Grade Level 3</th>
                    <th scope="col">Difficulty Level 3</th>
                    <th scope="col">Buttons</th>
                </tr>
            </thead>
        </table>
    </div>
    {% if user.is_admin %}
    <div class="tab-pane fade" id="nav-cmnty" role="tabpanel" aria-labelledby="nav-cmnty-tab">
        <table id="cmnty-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Cmnty</th>
                </tr>
            </thead>
        </table>
    </div>
    {% endif %}
</div>
<script>
$(document).ready(function () {

    var filter = ""
    if (window.location.search.substring(1) != "") {
        filter = "&" + window.location.search.substring(1);
        var params = window.location.search.substring(1).split("&");
        for(let i = 0; i < params.length; i ++) {
            param = params[i];
            
            if(param.startsWith("location") || param.startsWith("difficulty")) {
                $("#" + param.split("=")[1]).prop("checked", true);
            } else if(param.startsWith("lowGrade")) {
                $("#low-grade").val(parseInt(param.split("=")[1]))
            } else if(param.startsWith("highGrade")) {
                $("#high-grade").val(parseInt(param.split("=")[1]))
            } else if(param.startsWith("lowItemsSold")) {
                $("#low-itemsSold").val(parseFloat(param.split("=")[1]))
            } else if(param.startsWith("highItemsSold")) {
                $("#high-itemsSold").val(parseFloat(param.split("=")[1]))
            } else if(param.startsWith("showNA")) {
                stringBool = param.split("=")[1] == "true"
                $("#na").prop("checked", stringBool);
            }
        }
    } else {
        $('input[type=checkbox]').each(function () {
            $(this).prop("checked", true);
        });
    }

    var approvedTable = $('#approved-table').DataTable({
        "serverSide": true,
        "processing": true,
        "autoWidth": false,
        "stateSave": true,
        "ajax": {
            "url": "/listings/api/review/?format=datatables&stage=2" + filter,
            "credentials": 'include',
        },
        "columns": [
            {"data": "name"},
            {"data": "description"},
            {
                "searchable": false,
                "data": "location"
            },
            {
                "searchable": false,
                "data": "percent_itemsSold"
            },
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.grade'
            },
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.difficulty'
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.difficulty',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.difficulty',
            },
            {
                "searchable": false,
                "data": null,
                render:function(data, type, row) {
                    return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                },
                "targets": -1,
               
            }
        ],
    });
 
    var column = approvedTable.column(10);
    column.visible({% if user.is_admin %} true {% else %} false {% endif %});

    $('#approved-table tbody').on('click', 'a', function () {
        var data = approvedTable.row( $(this).parents('tr') ).data();
        window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-approved-tab";
    } );

    var reportedTable = $('#reported-table').DataTable({
        "serverSide": true,
        "processing": true,
        "autoWidth": false,
        "stateSave": true,
        "ajax": {
            "url": "/listings/api/review/?format=datatables&stage=4" + filter,
            "credentials": 'include',
        },
        "columns": [
            {"data": "name"},
            {"data": "description"},
            {
                "searchable": false,
                "data": "location"
            },
            {
                "searchable": false,
                "data": "percent_itemsSold"
            },
            {"data": "issue"},
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.grade'
            },
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.difficulty'
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.difficulty',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.difficulty',
            },
            {
                "data": null,
                render:function(data, type, row) {
                    return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                },
                "targets": -1
            }
        ],
    });

    $('#reported-table tbody').on('click', 'a', function () {
        console.log("Test");
        var data = reportedTable.row( $(this).parents('tr') ).data();
        window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-reported-tab";
    } );

    var rejectedTable = $('#rejected-table').DataTable({
        "serverSide": true,
        "processing": true,
        "autoWidth": false,
        "stateSave": true,
        "ajax": {
            "url": "/listings/api/review/?format=datatables&stage=3" + filter,
            "credentials": 'include',
        },
        "columns": [
            {"data": "name"},
            {"data": "description"},
            {
                "searchable": false,
                "data": "location"
            },
            {
                "searchable": false,
                "data": "percent_itemsSold"
            },
            {"data": "issue"},
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.grade'
            },
            {
                "searchable": false,
                "data": 'gradedifficultypair_set.0.difficulty'
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.1.difficulty',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.grade',
            },
            {
                "searchable": false,
                "defaultContent": "",
                "data": 'gradedifficultypair_set.2.difficulty',
            },
            {
                "data": null,
                render:function(data, type, row) {
                    return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                },
                "targets": -1
            }
        ],
    });

    $('#rejected-table tbody').on('click', 'a', function () {
        var data = rejectedTable.row( $(this).parents('tr') ).data();
        window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/review/#nav-rejected-tab";
    } );

    var cmntyTable = $('#cmnty-table').DataTable({
        "serverSide": true,
        "processing": true,
        "autoWidth": false,
        "stateSave": true,
        "ajax": {
            "url": "/listings/api/review/?format=datatables&stage=5",
            "credentials": 'include',
        },
        "columns": [
            {"data": "name"},
            {
                "data": null,
                render:function(data, type, row) {
                    return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> {% endif %}';
                },
                "targets": -1
            }
        ],
        
    });
});


$('.apply-filter').click(function (e){submit(e)});

function submit(e){
    var locations = [];
    var difficulties = [];

    $(".location").each(function () {
        if ($(this).is(":checked")) { locations.push($(this).attr('id').toString()); }
    });

    $(".difficulty").each(function () {
        if ($(this).is(":checked")) { difficulties.push($(this).attr('id').toString()); }
    });

    var lowGrade = $('#low-grade').val().toString();
    var highGrade = $('#high-grade').val().toString();

    var lowItemsSold= $('#low-itemsSold').val().toString();
    var highItemsSold = $('#high-itemsSold').val().toString();

    var showNA = $('#na').is(":checked").toString();

    var href = "?location=";
    for(let i = 0; i < locations.length; i++) {
        if(i != 0) {
            href += "&location=" + locations[i];
        } else {
            href += locations[i];
        }
    }
    for(let i = 0; i < difficulties.length; i++) {
        href += "&difficulty=" + difficulties[i];
    }
    href += "&lowGrade=" + lowGrade + "&highGrade=" + highGrade + "&lowItemsSold=" + lowItemsSold
        + "&highItemsSold=" + highItemsSold + "&showNA=" + showNA;
    window.location.href = href + location.hash;
}

// store the currently selected tab in the hash value
$("ul.nav-tabs > li > button").on("shown.bs.tab", function(e) {
  var id = $(e.target).attr("id");
  // localStorage.setItem('selectedTab', id);
  if(history.pushState) {
    history.pushState(null, null, "#" + id);
  } else {
    location.hash = "#" + id;
  }
  //window.location.hash = id;
});

// on load of the page: switch to the currently selected tab
var hash = location.hash;

var tabShowEl = document.querySelector(hash);
var tabShow = new bootstrap.Tab(tabShowEl);
tabShow.show();

</script>
{% endblock %}