{% extends "listings/base.html" %} 
{% block title %} Listings {% endblock title%} 
{% block content %} 
{% for listing in swapt_bundle_listings %}
<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="{{listing.thumbnail.url}}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{listing.name}}</h5>
    <p class="card-text">{{listing.desc}}</p>
    <a
      href="{% url 'listings:swapt_listing_detail' listing.id %}"
      class="btn btn-primary"
      >View Detail</a
    >
  </div>
</div>
{% endfor %} {% endblock content %}