{% extends 'listings/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for DiningFurniture in DiningFurnitureSets %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ DiningFurniture.thumbnail.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ DiningFurniture.pk }}">
                                    <label class="form-check-label">{{ DiningFurniture.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ DiningFurniture.itemPrice }}</p>
                            </div>
                            <p>{{ DiningFurniture.desc }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for BedroomFurniture in BedroomFurnitureSets %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ BedroomFurniture.thumbnail.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ BedroomFurniture.pk }}">
                                    <label class="form-check-label">{{ BedroomFurniture.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ BedroomFurniture.itemPrice }}</p>
                            </div>
                            <p>{{ BedroomFurniture.desc }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for OutdoorFurniture in OutdoorFurnitureSets %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ OutdoorFurniture.thumbnail.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ OutdoorFurniture.pk }}">
                                    <label class="form-check-label">{{ OutdoorFurniture.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ OutdoorFurniture.itemPrice }}</p>
                            </div>
                            <p>{{ OutdoorFurniture.desc }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for LivingRmFurniture in LivingRmFurnitureSets %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ LivingRmFurniture.thumbnail.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ LivingRmFurniture.pk }}">
                                    <label class="form-check-label">{{ LivingRmFurniture.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ LivingRmFurniture.itemPrice }}</p>
                            </div>
                            <p>{{ LivingRmFurniture.desc }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>
                <div class="form-group pt-3">
                    <label for="name">Property Name</label>
                    <input required class="form-control" type="text" placeholder="Oaks Apartments" name="propertyname" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required class="form-control" type="text" placeholder="1234 Main St" name="street" />
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" placeholder="San Francisco" name="city" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">State</label>
                            <input required class="form-control" type="text" placeholder="CA" name="state" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Zip Code</label>
                            <input required class="form-control" type="text" placeholder="94117" name="zip" />
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                  Create Swapt CmntyListing
                </button>
                <!-- <button class="btn btn-dark mt-5">Place SwaptListing!</button> -->

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Create Swapt CmntyListing</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-dark">Create Swapt CmntyListing</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}